h2 {
    @include font-style-Jost(24px, #000000);
    font-weight: 600;
}

p {
    @include font-style-Jost(18px, #000000);
}

.about-me__block {
    min-height: max-content;
    display: grid;
    grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;

    font-family: 'Jost';
    font-style: normal;

    padding: 10% 0 10% 0;
}

.about-me__container {
    display: grid;
    grid-template-columns: 50% 40%;  
    grid-column-start: main-content-start;
    gap: 5%;
}

.about-me__articles {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10%;
}

.about-me__picture {
    margin-top: 15%;

    background-color: lightgray;
}

// .picture__container {
//     padding: 10%;
//     display: flex;
//     justify-content: center;

//     background-color: lightgray;
//     align-self: stretch;
// }