h2 {
    @include font-style-Roboto(1.3rem, #000000);
    font-weight: 600;
}

p {
    @include font-style-Roboto(1.1rem, #000000);
    font-weight: 100;
}

figcaption {
    @include font-style-Roboto(0.8rem, grey);
    font-weight: 600;
}

.picture__subtext {
    padding-top: 2%;
}

.about-me__picture:hover {
    cursor: pointer;
}

.about-me__block {
    font-family: 'Open Sans';
    min-height: max-content;
    display: grid;
}

.picture-subtitle {
    display: flex;
    gap: 0.5vw;
}

@media screen and (min-width: 1024px) {
    .about-me__block {
        grid-template-columns: 200px [main-content-start] 1fr [main-content-end] 200px;
        margin: 3% 0 10% 0;
    }

    .second-article__title {
        margin-bottom: 7%;
    }
    
    .about-me__title {
        display: grid;
        grid-column-start: main-content-start;
        margin-bottom: 3%;
    }
    
    .about-me__container {
        display: grid;
        grid-column-start: main-content-start;
        grid-template-columns: 50% 40%;  
        gap: 7vw;
    }
    
    .about-me__articles {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 2vh;
    }
    
    .about-me__picture-container {
        max-width: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
    }
    
    .about-me__picture {
        max-width: 100%;
    }

    .picture-subtitle {
        justify-content: center;
    }

    .subtext-arrow {
        max-width: 3vw;
    }
}

@media screen and (max-width: 1023px) {  
    .about-me__block {
        padding: 5% 10% 10% 10%;
    }

    .second-article__title {
        margin-bottom: 3%;
    }
    
    .about-me__title {
        display: grid;
        grid-column-start: main-content-start;
        margin-bottom: 3%;
        padding: 0 15vw 0 12vw;
    }

    .about-me__container {
        display: grid;
        grid-column-start: main-content-start;
        grid-template-areas: 'picture'
                            'articles';
        gap: 3vw;
    }
    
    .about-me__articles {
        grid-area: articles;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 1vh;
        padding: 0 15vw 0 12vw;
    }

    .about-me__picture-container {
        grid-area: picture;
        max-width: 100%;
        margin-left: 20%;
    
        // display: flex;
        // justify-content: center;
    }
    
    .about-me__picture {
        max-width: 70%;
    }

    .picture__subtext {
        margin-left: 20%;
    }

    .subtext-arrow {
        max-width: 4vw;
        margin-left: 0.5vw;
    }
}
