.call-to-action {
    background-image: url("../assets/img/call-to-action-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 120px;
}

.call-to-action__title {
    margin: 0;
    text-align: center;
}

.call-to-action__paragraph {
    text-align: center;
}

.call-to-action__buttons {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
}

.call-to-action__button {
    display: block;

    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}

.call-to-action__whatsapp-button {
    @include font-style-Jost(20px, #FFFFFF);
    font-weight: 500;
    background-color: #F93264;
}

.call-to-action__telegram-button {
    @include font-style-Jost(20px, #3D3D3D);
    font-weight: 500;
    background-color: #FFFFFF;
    // color: #3D3D3D;
}

.call-to-action__telegram-button:hover,
.call-to-action__whatsapp-button:hover {
    background-color: #00213C;
    transition: all 0.3s ease;
}

.call-to-action__telegram-button:hover {
    color: #FFFFFF;
}

@media (max-width: 1023px) {
    .call-to-action {
        padding: 70px 10.4vw;
    }

    .call-to-action__title {
        @include font-style-Jost(16px, #FFFFFF);
        font-weight: 600;
    }

    .call-to-action__paragraph {
        margin-top: 10px;
        @include font-style-Jost(14px, #FFFFFF);
        font-weight: 400;
    }

    .call-to-action__buttons {
        flex-direction: column;
        gap: 16px;
        margin-top: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .call-to-action__title {
        width: 885px;
        @include font-style-Jost(38px, #FFFFFF);
        font-weight: 600;
    }

    .call-to-action__paragraph {
        @include font-style-Jost(32px, #FFFFFF);
        font-weight: 400;
    }

    .call-to-action__buttons {
        margin-top: 84px;
    }
}