/* certificates */

@media screen and (min-width: 1024px) {

    .certificates {
        display: grid;
        grid-template-columns: 10.4vw [main-content-start] 1fr [main-content-end] 10.4vw;
    }

    .certificates__title {
        grid-column-start: main-content-start;
        padding-bottom: 50px;
        @include font-style-Jost(38px, #3D3D3D);
        font-weight: 600;
    }

    .certificates__img {
        grid-column-start: main-content-start;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 100px;
        margin-bottom: 200px;
    }

    .certificates__img--one,
    .certificates__img--two {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1023px) {

    .certificates {
        display: grid;
        grid-template-columns: 10.4vw [main-content-start] 1fr [main-content-end] 10.4vw;
    }

    .certificates__title {
        grid-column-start: main-content-start;
        padding-bottom: 50px;
        @include font-style-Jost(38px, #3D3D3D);
        font-weight: 600;
    }

    .certificates__img {
        grid-column-start: main-content-start;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 100px;
        margin-bottom: 200px;
    }

    .certificates__img--one,
    .certificates__img--two {
        width: 100%;
        height: 100%;
    }
}