footer{
    margin-top:10%;
}
.footer-first{
    background-color: #4DE1B2;
    height: 370px;
    display:grid;
    grid-template-columns: 3(1fr);
}

.footer-first a{
    color:#FFFFFF;
}

.footer-first a:hover{
    color:#F93264;
    transition:all 0.3s ease;
}


.link-details{
    margin-left:25%;
}

.logotype1{
    grid-row: 1/1;
    grid-column: 1/1;
    margin-top:45px;
    margin-bottom: 55px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.06em;
    line-height: 25px;
    color: #000000;
}

.number1{
    grid-row:2/2;
    grid-column: 1/1;
    margin-bottom:29px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 46px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mail{
    grid-row:3/3;
    grid-column: 1/1;
    margin-bottom:124px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 46px;
    color: #FFFFFF;
}

.white-block{
    grid-row:1/2;
    grid-column:2/2;
    position: absolute;
    width: 75px;
    height: 433px;
    margin-left:48%;
    margin-top:-28px;
    background: #FFFFFF;
    transform: rotate(16.72deg);
}

.social-net{
    grid-row: 1/3;
    grid-column: 3/4;
    text-align: center;
    margin-right: 30%;

    display: flex;
    justify-content: space-around;
}

.fa-whatsapp:hover{
    transform: translateY(-7px);
}

.fa-telegram:hover{
    transform: translateY(-7px);
}

.social-net:hover i{
    color:#FFFFFF;
}

.fa-whatsapp,
.fa-telegram{
    width: 100px;
    margin-top:120px;
    height:100px;
    color:#FFFFFF;
}

.footer-second{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "logotype about-me responces link"
                        "policy services  contacts  number";
                        height:200px;
                        padding-top:80px;
                        margin-left:5%;
                        margin-right:8.5%;
                        padding-bottom:21px;
}

*{
    text-decoration: none;
    color: #000000;
}

.footer-second a:hover{
    color:#F93264;
    transition:all 0.3s ease;
}

.logotype{
    grid-area:logotype;
    margin-bottom: 18px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.06em;
    line-height: 25px;
}

.policy{
    grid-area:policy;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 0.87em;
    line-height: 20px;
    color: #22303B;
}

.about-me{
    grid-area: about-me;
    padding-left: 55%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.06em;
    line-height: 25px;
    color: #3D3D3D;
}

.services{
    grid-area:services;
    padding-left: 54%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.06em;
    line-height: 25px;
    color: #3D3D3D;
}

.responces{
    grid-area:responces;
    padding-left:10%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.06em;
    line-height: 25px;
    color: #3D3D3D;
}

.contacts{
    grid-area:contacts;
    padding-left:10%;  
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.06em;
    line-height: 25px;
    color: #3D3D3D;
}

.link{
    grid-area:link;
    width:155px;
    height:30px;
    text-align: center;
    align-self: center;
    padding-top:2.5px;
    margin-left: 45%;
    font-family: 'Jost';
    font-size: 1.06em;
    font-style: normal;
    font-weight: 500;
    background: #F93264;
    border:none;
}

#link_button{
    color:#FFFFFF;
}


.link:hover{
    background-color:#00213C;
    transition:all 0.3s ease;
}

.number{
    grid-area:number;
    text-align: center;
    margin-left:120px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 25px;
    color: #3D3D3D;
}

@media(max-width:1222px){
    .number{
        font-size:0.8em;
    }
}
@media(max-width:1068px){
    .number{
        width:150px;
        font-size:0.8em;
    }
}


@media(max-width:1024px){
    .about-me{
        padding-left: 40%;
    }
    
    .services{
        padding-left: 40%;
    }

    .link{
        margin-left: 30%;
    }
    
    .number{
        margin-left:30%;
    }
}
@media(max-width:970px) {
    .logotype1{
        font-weight: 500;
        font-size:1.2em;
        line-height: 17px;
    }

    .number1{
        font-weight: 600;
        font-size: 1.5em;
        line-height: 17px;
    }

    .mail{
        font-weight: 600;
        font-size: 1.5em;
        line-height: 17px;
        color: #FFFFFF;
    }

    .logotype{
        font-weight: 500;
        font-size: 1.2em;
        line-height: 17px;
    }

    .about-me{
        padding-left: 30%;
        font-weight: 400;
        font-size: 1em;
        line-height: 14px;
    }

    .services{
        padding-left: 30%;
        font-size: 1em;
        line-height: 14px;
    }

    .responces{
        padding-left:10%;
        font-size: 1em;
        line-height: 14px;
    }

    .contacts{
        padding-left:10%; 
        font-size: 1em;
        line-height: 14px;
    }

    .link{
        margin-left:20%;
        font-size: 1em;
    }

    .number{
        width:155px;
        height:30px;
        margin-left:20%;   
        font-size: 0.8em;
        line-height: 14px;
    }

    @media(max-width:767px){
        .footer-first{
            height: 245px;
        }

        .logotype1{
            margin-bottom:21px;
            font-weight: 500;
            font-size: 1em;
            line-height: 17px;
        }

        .number1{
            margin-bottom:21px;
            font-weight: 500;
            font-size: 1em;
            line-height: 17px;
        }

        .mail{
            font-weight: 600;
            font-size: 1em;
            line-height: 17px;
        }

        .social-net{
            display:inline-block;
            margin-top:40px;
            margin-left:10%;
        } 

        .social-net i{
            display:block;
            margin:0;
            font-size:2em;
            width:60px;
            height: 60px;
        }
        
        .white-block{
            position: absolute; 
            width: 28.49px;
            height: 265.9px;
            margin-left:48%;
            margin-top:-10.64px;
        }

        .footer-second{
            display:grid;
            grid-template-columns: 4(1fr);
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "logotype about-me link"
                                "policy  services number"
                                " . responces  . "
                                ". contacts . ";
            height:250px;
            margin-bottom:21px;
            padding-top:80px;
            margin-left:9%;
            margin-right:10%;
            border:box-sizing;
        }

        .logotype{
            grid-area:logotype;
            margin-bottom: 18px;
            font-weight: 500;
            font-size: 1em;
            line-height:17px;
        }

        .policy{
            grid-area:policy;
            font-weight: 400;
            font-size: 0.75em;
            line-height: 17px;
        }

        .about-me{
            grid-area: about-me;
            margin-left:40%;
            width:120px;
            font-weight: 500;
            font-size: 0.8em;
            line-height:17px;
        }

        .services{
            grid-area:services;
            margin-left:40%;
            width:120px;
            margin-bottom:18px;
            font-weight: 500;
            font-size: 0.8em;
            line-height: 17px;
        }

        .responces{
            grid-area:responces;
            margin-left:40%;
            margin-bottom:18px;
            width:120px;
            text-align: center;
            font-weight: 500;
            font-size: 0.8em;
            line-height: 17px;
        }

        .contacts{
            grid-area:contacts;
            margin-left:42%;
            width:120px;
            text-align: center;
            font-weight: 500;
            font-size: 0.8em;
            line-height: 17px;
        }

        .link{
            margin-left:90%;
            width:120px;
            height:21px;
            font-size: 0.8em;
            
        }

        .number{
            grid-area:number;
            width:120px;
            margin-left:90%;
            font-weight: 500;
            font-size: 0.8em;
            line-height: 17px;
        }
    }
    @media(max-width:720px){
        .responces{
            margin-left:37%;
        }
        .contacts{
            margin-left:39.5%;
        }
    }
    @media(max-width:656px){
        .responces{
            margin-left:35%;
        }
        .contacts{
            margin-left:37%;
        }
    }
    @media(max-width:640px){
        .responces{
            margin-left:33.5%;
        }
        .contacts{
            margin-left:35%;
        }
    }
    @media(max-width:559px){
        .responces{
            margin-left:32%;
        } 
        .contacts{
            margin-left:33.5%;
        }
        .link, 
        .number{
            margin-left:70%;
        }
    @media(max-width:520px){
        .link, 
        .number{
            margin-left:60%;
        }
        }
        @media(max-width:515px){
        .about-me{
            margin-left:10%;
        }
        .services{
            margin-left:10%;
        }
        .responces{
            margin-left:26.5%;
            width:60px;
        } 
        .contacts{
            margin-left:28%;
            width:62px;
        }
        .link, 
        .number{
            margin-left:30%;
        }
    }
    }
    @media(max-width:470px){
        .link-details >div{
            width:150px;
            font-size: 0.8em;
        }


        .about-me, .services{
            margin-left:-10%; 
            width:100px;
        }
        
        .responces{
            margin-left:7%;
            width:60px;
        } 
        
        .contacts{
            margin-left:9%;
            width:60px;
        }
        .link, 
        .number{
            margin-left:0%;
        }
    }
    @media(max-width:410px){
        .policy{
            font-size:0.5em;
        }
        .about-me, .services{
            margin-left:7%; 
        }
        .responces{
            margin-left:25.5%;
        }
        .contacts{
            margin-left:28%;
        }
        .link, 
        .number{
            margin-left:20%;
        }     
}
    @media(max-width:380px){
        .link-details >div{
            width:150px;
            font-size: 0.7em;
        } 
    .logotype{
        font-size: 0.6em;
}
    .policy{
    font-size:0.4em;
}
        .about-me, .services{
            width:90px;
            font-size:0.6em;
            margin-left:20%; 
        }
        .responces{
            width:45px;
            font-size:0.6em;
            margin-left:38%;

        } 
        .contacts{
            width:45px;
            font-size:0.6em;
            margin-left:40%;
        }
        .link, 
        .number{
            width:90px;
            font-size:0.6em;
            margin-left:55%;
        }     
    }
}
