/* For whom are my services */

.customer__container {
    display: grid;
    grid-template-columns: 10.4vw [customer-content-start] 1fr 10.4vw;
}

.customer {
    background-image: url("../assets/img/customer/customer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.customer__container {
    background-color: rgba(77, 225, 178, 0.81);
}

.customer__title,
.customer__content {
    grid-column-start: customer-content-start;
}

.customer__content {
    display: flex;
}

.customer__type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1023px) {

    .customer__container {
        grid-template-rows: 120px 540px;
    }

    .customer__title {
        align-self: center;
        @include font-style-Jost(1.6em, #FFFFFF);
        font-weight: 600;
    }

    .customer__content {
        flex-direction: column;
        align-items: center;
    }

    .customer__type {
        margin-bottom: 65px;
    }

    .customer__img {
        width: 70px;
    }

    .customer__text {
        margin-top: 10px;
        @include font-style-Jost(1em, #FFFFFF);
        font-weight: 600;
    }
}

@media screen and (min-width: 1024px) {

    .customer__container {
        grid-template-rows: 300px 600px;
    }

    .customer__title {
        margin-top: 90px;
        @include font-style-Jost(2.375em, #FFFFFF);
        font-weight: 600;
    }

    .customer__content {
        justify-content: space-around;
    }

    .customer__img {
        width: 190px;
    }

    .customer__text {
        margin-top: 50px;
        @include font-style-Jost(2.5em, #FFFFFF);
        font-weight: 600;
    }
}