* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        "logo menu"
        "headline headline"
        "action action";
    min-height: 70vh;
    padding: 10%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../assets/img/header/header-mobile.png);
    background-size: cover;
}

.logo {
    grid-area: logo;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 17px;
    font-weight: 500;
    color: #3D3D3D;
}

.action {
    grid-area: action;
    display: flex;
    justify-content: center;
}

.navigation__item {
    border: 1px solid #ffffff;
    list-style-type: none;
}

.navigation__point {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding-right: 25px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-size: 0.9em;
    line-height: 1.3em;
    font-weight: 600;
    color: #00213C;
    text-decoration: none;
}


.navigation__point:hover {
    color: #F93264;
}

.navigation__connection,
.action__service {
    width: 115px;
    height: 24px;
    align-self: center;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-size: 0.75em;
    line-height: 1.2em;
    font-weight: 500;
    color: #FFFFFF;
    background: #F93264;
    border: none;
    cursor: pointer;
}

.navigation__connection:hover,
.action__service:hover {
    background: #00213C;
}

.navigation__connection {
    display: none;
}

.headline {
    grid-area: headline;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.headline__text {
    margin: 0;
    align-content: stretch;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-size: 1.8em;
    line-height: 1.4em;
    font-weight: 600;
    color: #00213C;
}

.headline__description {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: 400;
    color: #152836;
}

.action__questionnaire {
    padding-left: 2vw;
    align-self: center;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-size: 0.75em;
    line-height: 1.2em;
    font-weight: 500;
    color: #00213C;
    text-decoration: none;
}

.action__questionnaire:hover {
    color: #F93264;
}

.menu {
    position: fixed;
    top: 30px;
    right: 15px;
    grid-area: menu;
    display: block;
    width: 30px;
    text-align: center;
    cursor: pointer;
}

#burger {
    display: none;
}

.menu::before {
    content: '☰';
}

.navigation {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    margin-top: 50px;
    margin-right: 40px;
    width: 40%;
    background: rgba(221, 235, 249, 0.7);
    border: 1px solid #ffffff;
}

#burger:checked+label+nav {
    display: block;
    animation: show .5s ease;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#burger:checked+.menu::before {
    content: '×';
}


@media screen and (min-width: 1024px) {

    .header {
        padding: 60px 200px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas:
            "logo navigation navigation"
            "headline headline headline"
            "action action action";
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../assets/img/header/header.png);
    }

    #burger,
    .menu {
        display: none;
    }

    .navigation {
        position: static;
        grid-area: navigation;
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: flex-end;
        align-self: start;
        background: none;
        border: none;
    }

    .navigation__list {
        display: flex;
    }

    .navigation__connection {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headline__text {
        width: 55vw;
        font-size: 3.5em;
        line-height: 1.4em;
    }

    .headline__description {
        width: 45vw;
        font-size: 1.5em;
        line-height: 1.7em;
    }

    .navigation__point {
        padding: 0;
    }

    .navigation__item {
        display: flex;
        align-items: flex-start;
        padding-right: 40px;
        border: none;
    }
}