h2 {
    @include font-style-intro(60px, #000000);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid #F93264;*/
}

.header {
    min-height: 747px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../assets/img/header/header-mobile.png);
    background-size: cover;
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 50vh 2fr;
    grid-template-areas:
        "logo menu"
        "headline headline"
        "action action";
}

.logo {
    grid-area: logo;
}

.action {
    grid-area: action;
    display: flex;
    justify-content: center;
}

.navigation__item {
    list-style-type: none;
}

.navigation__point {
    text-decoration: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875em;
    line-height: 1.5em;
    color: #00213C;
}

.connection,
.action__service {
    width: 105px;
    height: 24px;
    background: #F93264;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 0.6875em;
    line-height: 1.2em;
    color: #FFFFFF;
    border: none;
    align-self: center;
}

.connection {
    display: none;
}

.headline {
    grid-area: headline;
    text-align: center;
    display: block;
}

.headline__text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #00213C;
}

.headline__description {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #152836;
    padding-top: 58px;
}

.action__questionnaire {
    text-decoration: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75em;
    line-height: 1.2em;
    color: #595858;
    align-self: center;
    padding-left: 2vw;
}

.menu {
    display: block;
    position: fixed;
    width: 50px;
    text-align: center;
    right: 25px;
    top: 30px;
    grid-area: menu;
    cursor: pointer;
}

#burger {
    display: none;
}

.menu::before {
    content: '☰';
}

.navigation {
    display: none;
    position: fixed;
    top: 0;
    margin-top: 50px;
    background: rgba(195, 250, 250, 0.5);
    width: 100%;
}

#burger:checked+label+nav {
    display: block;
    animation: show .5s ease;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#burger:checked+.menu::before {
    content: '×';
}


@media screen and (min-width: 1024px) {

    .header {
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../assets/img/header/header.png);
    }

    #burger,
    .menu {
        display: none;
    }

    .navigation {
        display: flex;
        background: none;
        position: static;
        margin: 0;
    }
}