h2 {
    @include font-style-intro(60px, #000000);
}

.navigation__item {
    list-style-type: none;
}

.navigation__point {
    text-decoration: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 116.5%;
    color: #00213C;
}

.connection,
.action__service {
    width: 105px;
    height: 24px;
    background: #9E9E9E;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.header__text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 116.5%;
    color: #00213C;
}

.header__description {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #152836;
}

.action__questionnaire {
    text-decoration: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #595858;
}

@media screen and (min-width: 1024px) {

    #burger,
    [for=burger] {
        display: none;
    }
}