#reviews{
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: 10.4vw [reviews-content-start] 1fr [reviews-content-end] 10.4vw;
}
.reviews__title{
    grid-column-start: reviews-content-start;
    @include font-style-Jost(2.4em, #3D3D3D);
    font-weight: 600;
    line-height: 55px;
}
.reviews__slideshow {
    grid-column-start: reviews-content-start;
    display: none;
    display: grid; 
    align-items: center;
}
.reviews__slides-text {
    line-height: 32px;
    background: rgba(76, 200, 172, 0.7);
    width: 100%;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "reviews__line-top"
    "reviews__text";
}  
.reviews__slides-triangle{
    margin-top: -1px;
    margin-left: 5%;
}
.reviews__line-top{
    display: inline-flex;
    gap: 40px;
    min-width: 300px;
}
.reviews__slides-photo{
    grid-area: reviews__slides-photo;
    margin: 20px 0 0 20px;
    max-width: 85%;
}
.reviews__slides-title{
    @include font-style-Jost(1.6em, #fff);
    grid-area: reviews__slides-title;
    display: flex; 
    align-items: center;
    min-width: 150px;
}
.reviews__text{
    @include font-style-Jost(1.2em, #fff);
    grid-area: reviews__text;
    margin: 35px;
}
.reviews__dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 15px 5px;
    background: rgba(210, 209, 209, 1);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;        
}    
.active, .reviews__dot:hover {
    background: rgba(0, 194, 128, 1);
}
.reviews__dots{
    grid-column-start: reviews-content-start;
    text-align: center;
}
.reviews__arrow{
    cursor: pointer;
    position: absolute;
    font-size: 2.1em;
    color: #fff;
    background: rgba(250, 52, 101, 1);
    padding: 3px 15px;
    border-radius: 25px;
}
.reviews__prev{
    left: 5%;
}
.reviews__next{
    right: 5%;
}

@media screen and (min-width: 1024px) {
    .reviews__slideshow {
        margin: 0 10%;
    }
    .reviews__prev{
        grid-column-start: reviews-content-start;
        left: 1%;
    }
    .reviews__next{
        grid-column-end: reviews-content-end;
        right: 1%;
    }
}