@import "core.scss";
@import "header.scss";
@import "about_me.scss";
@import "about_my_work";
@import "question.scss";
@import "advices_formats.scss";
@import "reviews.scss";
@import "certificates.scss";
@import "for_whom_services.scss";
@import "footer.scss";
@import "call-to-action";

/*html {
    max-width: 1600px;
    min-width: 300px;
    margin: 0 auto;
}*/

.root {
    min-width: 360px;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}