@import "_core.scss";
@import "_header.scss";
@import "_about_me.scss";
@import "_question.scss";
@import "_reviews.scss";
@import "_for_whom_services.scss";
@import "_footer.scss";




.root {
    min-width: 360px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}