h2 {
  font-family: "Intro Demo", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
  color: #000000;
}

.navigation__item {
  list-style-type: none;
}

.navigation__point {
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 116.5%;
  color: #00213C;
}

.connection,
.action__service {
  width: 105px;
  height: 24px;
  background: #9E9E9E;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}

.header__text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 116.5%;
  color: #00213C;
}

.header__description {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #152836;
}

.action__questionnaire {
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #595858;
}

@media screen and (min-width: 1024px) {
  #burger,
[for=burger] {
    display: none;
  }
}
h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.6;
  color: #000000;
  font-weight: 600;
}

p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  color: #000000;
}

.about-me__block {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  display: grid;
  grid-template-columns: 9.4vw [main-content-start] 1fr [main-content-end] 9.4vw;
  font-family: "Jost";
  font-style: normal;
  padding: 10% 0 10% 0;
}

.about-me__container {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-column-start: main-content-start;
  gap: 5%;
}

.about-me__articles {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10%;
}

.about-me__picture {
  margin-top: 15%;
  background-color: lightgray;
}

.advicesformats {
  display: grid;
  grid-template-columns: 9vw [main-content-start] 1fr [main-content-end] 9vw;
}

.advicesformats__container {
  grid-column-start: main-content-start;
  display: grid;
  grid-template-areas: "first second" "third fourth";
  margin-bottom: 200px;
  gap: 100px;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

.advicesformats__title {
  grid-column-start: main-content-start;
  padding-bottom: 50px;
  font-size: 30px;
}

.advicesformats__format--first,
.advicesformats__format--second,
.advicesformats__format--third,
.advicesformats__format--fourth {
  border: 10px solid #4DE1B2;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  padding-left: 17px;
  padding-right: 61px;
}

.advicesformats__format--first {
  grid-area: first;
}

.advicesformats__format--second {
  grid-area: second;
}

.advicesformats__format--third {
  grid-area: third;
}

.advicesformats__format--fourth {
  grid-area: fourth;
}

.advicesformats__link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Jost;
  width: 160px;
  height: 40px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  text-decoration: none;
  background-color: #F93264;
  border: none;
  margin-top: 110px;
  margin-bottom: 30px;
}

.advicesformats__link-btn:hover {
  background-color: rgba(250, 52, 101, 0.6980392157);
}

.advicesformats__link-btn:active {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: Jost;
  font-weight: 600;
  color: #3D3D3D;
}

p {
  font-family: Jost;
  font-weight: 400;
  color: #3D3D3D;
}

.reviews {
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
}

.reviews__slideshow {
  display: none;
  display: grid;
  margin: 0 10%;
  align-items: center;
}

.reviews__slides-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6;
  color: #fff;
  line-height: 32px;
  background: rgba(76, 200, 172, 0.7);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reviews__line-top" "reviews__text";
}

.reviews__slides-triangle {
  margin-top: -1px;
  margin-left: 5%;
}

.reviews__line-top {
  display: inline-flex;
  gap: 40px;
  min-width: 300px;
}

.reviews__img {
  grid-area: reviews__img;
  margin: 20px 0 0 20px;
  max-width: 85%;
}

.reviews__title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.6;
  color: #fff;
  grid-area: reviews__title;
  display: flex;
  align-items: center;
  min-width: 150px;
}

.reviews__text {
  grid-area: reviews__text;
  margin: 35px;
}

.reviews__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 15px 5px;
  background: rgb(210, 209, 209);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .reviews__dot:hover {
  background: rgb(0, 194, 128);
}

.reviews__dots {
  text-align: center;
}

.reviews__arrow {
  cursor: pointer;
  position: absolute;
  font-size: 35px;
  color: #fff;
  background: rgb(250, 52, 101);
  padding: 3px 15px;
  border-radius: 25px;
}

.reviews__prev {
  left: 5%;
}

.reviews__next {
  right: 5%;
}

.certificates {
  display: grid;
  grid-template-columns: 9vw [main-content-start] 1fr [main-content-end] 9vw;
}

.certificates__title {
  grid-column-start: main-content-start;
  padding-bottom: 50px;
  font-size: 30px;
}

.certificates__img {
  grid-column-start: main-content-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 100px;
  margin-bottom: 200px;
}

.certificates__img--one,
.certificates__img--two {
  width: 100%;
  height: 100%;
}

h2 {
  font-family: Jost;
  font-weight: 600;
  color: #3D3D3D;
}

html {
  max-width: 1600px;
  min-width: 300px;
  margin: 0 auto;
}
